/* Home*/
.micro {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.microContainer {
    max-width: 1170px;
    width: 100%;
    background-color: #000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.microLeftCategory {
    color: #00FF66;
}

.micro-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 50px;
    margin-top: 30px;
}

.micro-left h1 {
    font-size: 50px;
}

.microLeftItems {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.microLeftItem {
    background-color: #FFFFFF;
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: black;
    cursor: pointer;
    font-size: 12px;
}

.microButton {
    width: 150px;
    padding: 20px 0px;
    background-color: #00FF66;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
}

.microLeftItem span {
    font-weight: bold;
}

.micro-right {
    flex: 1
}

.micro-right img {
    width: 100%;
    height: 100%;
}

/* Featured Container */

.featured {
    margin-top: 20px;
}

.featuredContainer {
    width: 100%;
    max-width: 1170px;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    background-color: white;
}

.featuredTexts {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.featuredTextDiv {
    width: 20px;
    height: 50px;
    border-radius: 5px;
    background-color: #DB4444;
}

.featuredTextSpan {
    color: #DB4444;
    font-weight: bold;
    font-size: 20px;
}

.featuredItems {
    display: flex;
    height: 600px;
    gap: 1rem;
}

.featuredContainer h1 {
    color: black;
    margin-bottom: 20px;
}

.featuredLeft {
    width: 50%;
    height: 100%;
    background-color: black;
}

.featuredItemImg {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.featuredItem {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.featuredBottom {
    display: flex;
    gap: 10px;
}

.featuredBottom img {
    width: 50%;
    height: 150%;
}

/* welcome to register */
.register {
    flex-direction: column;
}

.registerContainer {
    background-color: white;
    color: black;
    gap: 1rem;
    margin: 10px 0px;
}

.registerLeft {
    flex: 1;
}

.registerLeft img {
    width: 100%;
    height: 700px;
    object-fit: contain;
}

.registerForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.registerForm h1 {
    font-weight: 400;
}

.registerForm input {
    border: none;
    outline: none;
    padding: 5px 0px;
    border-bottom: 1px solid gray;
    color: gray;
}

.registerFormSubmit {
    background-color: #DB4444;
    padding: 15px 0px;
    border-radius: 5px;
    outline: none;
    font-size: 17px;
    color: white;
    border: none;
    cursor: pointer;
}

.registerFormLink p {
    color: #000000;
}

.registerFormLink span {
    margin-left: 10px;
    padding: 2px 0px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.registerFormLink span:hover {
    border-bottom: 1px solid black;
}

/* login */
.login {
    flex-direction: column;
}

.loginContainer {
    background-color: white;
    color: black;
    gap: 1rem;
    margin: 10px 0px;
}

.loginLeft {
    flex: 1;
}

.loginLeft img {
    width: 100%;
    height: 700px;
    object-fit: contain;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.loginForm h1 {
    font-weight: 400;
}

.loginForm input {
    border: none;
    outline: none;
    padding: 5px 0px;
    border-bottom: 1px solid gray;
    color: gray;
}

.loginFormSubmit {
    background-color: #DB4444;
    padding: 15px 30px;
    border-radius: 5px;
    outline: none;
    font-size: 17px;
    color: white;
    border: none;
    cursor: pointer;
}

.loginFormLink {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #DB4444;
}

.loginFormLink p {
    cursor: pointer;
}

/* wishlist style start */

.wishlist {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
}

.wishlistContainer {
    width: 100%;
    width: 1170px;
}

.wishlistMoveHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}

.wishlistMoveHeader h1 {
    font-size: 20px;
    color: #000000;
}

.wishlistButton {
    padding: 15px 25px;
    border: 2px solid black;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    color: black;

}

.wishlistMoveProducts {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin: 50px 0px;
}

.wishlistForYouHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wishlistHeaderLeft {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.wishlistHeaderLeft h1 {
    font-size: 20px;
}

.wishlistHeaderLeft div {
    width: 20px;
    height: 50px;
    border-radius: 5px;
    background-color: #DB4444;
}

.wishlistForYouProducts {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0px;
    gap: 1.5rem;
}